*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;  
    
    
}
html, body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    
    

}

.container{
    width: 100%;
    height:100%;
    text-align: center;
    margin-top: 130px;
}

.SearchBar{
    height: 40px;
    width: 700px;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
    
}

.submit{
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}

.submit:hover{
    background-color: black;
    color: #fff;
    
}

video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency here (0.3 for 30% opacity) */
    object-fit: cover;
  }

.home{
    position: relative;
    font-family: 'poppins', sans-serif;
}

